html {
    background-color : black;
    color : white;
}


strong {
    color : red;
}


h1 {
    text-decoration : underline;
}


/* Flexbox
EXAMPLE 1 */
.flex-container {
    display : flex;
    background-color : dodgerblue;
}


.flex-container > div {
    background-color : pink;
    color : black;
    margin : 10px;
    padding : 20px;
    font-size : 30px;
    font-weight : 1000;
}


/* The flex-direction Property
EXAMPLE 1 || flex-direction : column || */
.f_d_c {
    display: flex;
    flex-direction : column;
    background-color : dodgerblue;
}


.f_d_c > div {
    background-color : yellow;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* EXAMPLE 2 || flex-direction : column-reverse || */
.f_d_cr {
    display: flex;
    flex-direction : column-reverse;
    background-color : dodgerblue;
}


.f_d_cr > div {
    background-color : yellow;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* EXAMPLE 3 || flex-direction : row || */
.f_d_r {
    display: flex;
    flex-direction : row;
    background-color : dodgerblue;
}


.f_d_r > div {
    background-color : yellow;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* EXAMPLE 4 || flex-direction : row-reverse || */
.f_d_rr {
    display: flex;
    flex-direction : row-reverse;
    background-color : dodgerblue;
}


.f_d_rr > div {
    background-color : yellow;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* The flex-wrap Property
EXAMPLE 1 || flex-wrap : wrap || */
.f_w_w {
    display: flex;
    flex-wrap : wrap;
    background-color : dodgerblue;
}


.f_w_w > div {
    background-color : lightgreen;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* EXAMPLE 2 || flex-wrap : nowrap || */
.f_w_nw {
    display: flex;
    flex-wrap :nowrap;
    background-color : dodgerblue;
}


.f_w_nw > div {
    background-color : lightgreen;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* EXAMPLE 3 || flex-wrap : wrap-reverse || */
.f_w_wr {
    display: flex;
    flex-wrap :wrap-reverse;
    background-color : dodgerblue;
}


.f_w_wr > div {
    background-color : lightgreen;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* The flex-flow Property
EXAMPLE 1 || flex-flow : row wrap || */
.f_f_rw {
    display: flex;
    flex-flow : row wrap;
    background-color : dodgerblue;
}


.f_f_rw > div {
    background-color : gray;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* The justify-content Property 
EXAMPLE 1 || justify-content : center || */
.j_c_c {
    display: flex;
    justify-content : center;
    background-color : dodgerblue;
}


.j_c_c > div {
    background-color : lightsalmon;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* EXAMPLE 2 || justify-content : flex-start || */
.j_c_fs {
    display: flex;
    justify-content : flex-start;
    background-color : dodgerblue;
}


.j_c_fs > div {
    background-color : lightsalmon;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* EXAMPLE 3 || justify-content : flex-end || */
.j_c_fe {
    display: flex;
    justify-content : flex-end;
    background-color : dodgerblue;
}


.j_c_fe > div {
    background-color : lightsalmon;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* EXAMPLE 4 || justify-content : space-around || */
.j_c_sa {
    display: flex;
    justify-content : space-around;
    background-color : dodgerblue;
}


.j_c_sa > div {
    background-color : lightsalmon;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* EXAMPLE 5 || justify-content : space-between || */
.j_c_sb {
    display: flex;
    justify-content : space-between;
    background-color : dodgerblue;
}


.j_c_sb > div {
    background-color : lightsalmon;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* The align-items Property 
EXAMPLE 1 || align-items : center || */
.a_i_c {
    display: flex;
    align-items : center;
    height : 200px;
    background-color : dodgerblue;
}


.a_i_c > div {
    background-color : olive;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* EXAMPLE 2 || align-items : flex-start || */
.a_i_fs {
    display: flex;
    align-items : flex-start;
    height : 200px;
    background-color : dodgerblue;
}


.a_i_fs > div {
    background-color : olive;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* EXAMPLE 3 || align-items : flex-end || */
.a_i_fe {
    display: flex;
    align-items : flex-end;
    height : 200px;
    background-color : dodgerblue;
}


.a_i_fe > div {
    background-color : olive;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* EXAMPLE 4 || align-items : stretch || */
.a_i_s {
    display: flex;
    align-items : stretch;
    height : 200px;
    background-color : dodgerblue;
}


.a_i_s > div {
    background-color : olive;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* EXAMPLE 5 || align-items : baseline || */
.a_i_b {
    display: flex;
    align-items : baseline;
    height : 200px;
    background-color : dodgerblue;
}


.a_i_b > div {
    background-color : olive;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* The align-content Property 
EXAMPLE 1 || align-content : space-between || */
.a_c_sb {
    display: flex;
    height : 600px;
    flex-wrap : wrap;
    align-content : space-between;
    overflow : scroll;
    background-color : dodgerblue;
}


.a_c_sb > div {
    background-color : indigo;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* EXAMPLE 2 || align-content : space-around || */
.a_c_sa {
    display: flex;
    height : 600px;
    flex-wrap : wrap;
    align-content : space-around;
    overflow : scroll;
    background-color : dodgerblue;
}


.a_c_sa > div {
    background-color : indigo;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* EXAMPLE 3 || align-content : stretch || */
.a_c_s {
    display: flex;
    height : 600px;
    flex-wrap : wrap;
    align-content : stretch;
    overflow : scroll;
    background-color : dodgerblue;
}


.a_c_s > div {
    background-color : indigo;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* EXAMPLE 4 || align-content : center || */
.a_c_c {
    display: flex;
    height : 600px;
    flex-wrap : wrap;
    align-content : center;
    overflow : scroll;
    background-color : dodgerblue;
}


.a_c_c > div {
    background-color : indigo;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* EXAMPLE 5 || align-content : flex-start || */
.a_c_fs {
    display: flex;
    height : 600px;
    flex-wrap : wrap;
    align-content : flex-start;
    overflow : scroll;
    background-color : dodgerblue;
}


.a_c_fs > div {
    background-color : indigo;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* EXAMPLE 6 || align-content : flex-end || */
.a_c_fe {
    display: flex;
    height : 600px;
    flex-wrap : wrap;
    align-content : flex-end;
    overflow : scroll;
    background-color : dodgerblue;
}


.a_c_fe > div {
    background-color : indigo;
    width : 100px;
    line-height : 75px;
    text-align : center;
    color : black;
    margin : 10px;
    font-size : 30px;
    font-weight : 1000;
}


/* Perfect Centering 
EXAMPLE 1 */
.p_c {
    display : flex;
    justify-content : center;
    align-items : center;
    height : 300px;
    background-color : dodgerblue;
}


.p_c > div {
    background-color : red;
    width : 100px;
    height : 100px;
}


/* CSS Flex Items 
EXAMPLE 1 */
.f_i {
    display : flex;
    background-color : dodgerblue;
}


.f_i > div {
    background-color: orange;
    color : black;
    font-weight : 1000;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}


/* The order Property
EXAMPLE 1 */
.t_o_p {
    display : flex;
    align-items : stretch;
    background-color : dodgerblue;
}


.t_o_p > div {
    background-color: seagreen;
    color : black;
    font-weight : 1000;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}


/* The flex-grow Property
EXAMPLE 1 */
.f_g_p {
    display : flex;
    align-items : stretch;
    background-color : dodgerblue;
}


.f_g_p > div {
    background-color: hotpink;
    color : black;
    font-weight : 1000;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}


/* The flex-shrink Property
EXAMPLE 1 */
.f_s_p {
    display : flex;
    align-items : stretch;
    background-color : dodgerblue;
}


.f_s_p > div {
    background-color: chocolate;
    color : black;
    font-weight : 1000;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}


/* The flex-basis Property
EXAMPLE 1 */
.f_b_p {
    display : flex;
    align-items : stretch;
    background-color : dodgerblue;
}


.f_b_p > div {
    background-color: lightgoldenrodyellow;
    color : black;
    font-weight : 1000;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}


/* The flex Property
EXAMPLE 1 */
.f_p {
    display : flex;
    align-items : stretch;
    background-color : dodgerblue;
}


.f_p > div {
    background-color: tomato;
    color : black;
    font-weight : 1000;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}


/* The align-self Property
EXAMPLE 1 || align-self : center || */
.a_s_c {
    display : flex;
    height : 200px;
    background-color : dodgerblue;
}


.a_s_c > div {
    background-color: magenta;
    color : black;
    font-weight : 1000;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}


/* EXAMPLE 2 || align-self : flex-start || flex-end */
.as_fs_fe {
    display : flex;
    height : 200px;
    background-color : dodgerblue;
}


.as_fs_fe > div {
    background-color: magenta;
    color : black;
    font-weight : 1000;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}


/* The translate Method
EXAMPLE 1 */
.t_m {
    width : 300px;
    height : 100px;
    background-color : mediumturquoise;
    color : black;
    font-weight : 1000;
    border : 5px solid khaki;
    transform : translate(50px, 40px);
}


/* The rotate Method
EXAMPLE 1 */
.r_m {
    width : 300px;
    height : 100px;
    background-color : indianred;
    color : black;
    font-weight : 1000;
    border : 5px solid khaki;
}


#r_m_1 {
    width : 300px;
    height : 100px;
    background-color : thistle;
    color : black;
    font-weight : 1000;
    border : 5px solid khaki;
    transform : rotate(20deg);
}


#r_m_2 {
    width : 300px;
    height : 100px;
    background-color : thistle;
    color : black;
    font-weight : 1000;
    border : 5px solid khaki;
    transform : rotate(-20deg);
}


/* The scale Method
EXAMPLE 1 */
.s_m {
    margin: 200px;
    width : 150px;
    height : 150px;
    background-color : lightskyblue;
    color : black;
    font-weight : 1000;
    border : 5px solid khaki;
    transform : scale(2, 3);
}


/* The scaleX Method
EXAMPLE 1 */
.s_x_m {
    margin-left : 100px;
    width : 150px;
    height : 150px;
    background-color : purple;
    color : black;
    font-weight : 1000;
    border : 5px solid khaki;
    transform : scaleX(2);
}


/* The scaleY Method
EXAMPLE 1 */
.s_y_m {
    margin : 150px;
    width : 150px;
    height : 100px;
    background-color : limegreen;
    color : black;
    font-weight : 1000;
    border : 5px solid khaki;
    transform : scaleY(3);
}


/* The skewX Method
EXAMPLE 1 */
.sk_x_m {
    width : 150px;
    height : 100px;
    background-color : firebrick;
    color : black;
    font-weight : 1000;
    border : 5px solid khaki;
}


.sk_x_m_1 {
    width : 150px;
    height : 100px;
    background-color : firebrick;
    color : black;
    font-weight : 1000;
    border : 5px solid khaki;
    transform : skewX(20deg);
}


/* The skewY Method
EXAMPLE 1 */
.sk_y_m {
    width : 150px;
    height : 100px;
    background-color : yellow;
    color : black;
    font-weight : 1000;
    border : 5px solid khaki;
}


.sk_y_m_1 {
    width : 150px;
    height : 100px;
    background-color : yellow;
    color : black;
    font-weight : 1000;
    border : 5px solid khaki;
    transform : skewY(20deg);
}


/* The skew Method
EXAMPLE 1 */
.sk {
    width : 150px;
    height : 100px;
    background-color : slateblue;
    color : black;
    font-weight : 1000;
    border : 5px solid khaki;
}


.sk_1 {
    width : 150px;
    height : 100px;
    background-color : slateblue;
    color : black;
    font-weight : 1000;
    border : 5px solid khaki;
    transform : skew(20deg, 10deg);
}


/* The matrix Method
EXAMPLE 1 */
.matrix {
    width : 150px;
    height : 100px;
    background-color : lightseagreen;
    color : black;
    font-weight : 1000;
    border : 5px solid khaki;
}


.matrix1 {
    width : 150px;
    height : 100px;
    background-color : lightseagreen;
    color : black;
    font-weight : 1000;
    border : 5px solid khaki;
    transform : matrix(1, -0.3, 0, 1, 0, 0);
}


.matrix2 {
    width : 150px;
    height : 100px;
    background-color : lightseagreen;
    color : black;
    font-weight : 1000;
    border : 5px solid khaki;
    transform : matrix(1, 0, 0.5, 1, 150, 0);
}


/* classlist.toggle */
.myToggleStyle {
    width: 100%;
    padding: 25px;
    background-color: darkblue;
    color: yellow;
    font-size: 25px;
    box-sizing: border-box;
}


.myBtn {
    font-size : 16px;
    padding : 5px;
    font-weight : 1000;
    background-color : lightgray;
    border : 2px solid white;
    border-radius : 10px;
}


/* CSS Box Sizing 
EXAMPLE 1 */
.div1 {
    width : 300px;
    height : 100px;
    border : 2px solid springgreen;
}


.div2 {
    width : 300px;
    height : 100px;
    padding : 50px;
    border : 2px solid skyblue;
}


/* EXAMPLE 2 */
.div3 {
    width : 300px;
    height : 100px;
    border : 2px solid springgreen;
    box-sizing : border-box;
}


.div4 {
    width : 300px;
    height : 100px;
    padding : 50px;
    border : 2px solid skyblue;
    box-sizing : border-box;
}


/* CSS ::before Selector 
EXAMPLE 1 */
.bSelector::before {
    content : ":: - Read this - ";
}


/* CSS ::after Selector 
EXAMPLE 1 */
.aSelector::after{
    content : " - :: - Remember this";
}


/* CSS :nth-child() Selector
EXAMPLE - Selects the second element of div siblings */
div#nth :nth-child(2) {
    background : red;
} 


/* EXAMPLE - Selects the second li element in a list */
li:nth-child(2) {
    background : lightseagreen;
}


/* EXAMPLE - Selects every third element among any group of siblings */
:nth-child(3) {
    background : purple;
    color : white;
    border : 2px solid white;
}